.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    justify-content: center;
    
}
.contentbox {
    width: 300px;
    height: 200px;
    margin: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0px lightgray;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: white;
}
.contentbox h2 {
    color: white;
    margin: 20px;
}
.contentbox p {
    color: white;
    margin: 20px;
}
.contentbox h2::after {
    content: '';
    background: #20b2aa;
    width: 80px;
    height: 4px;
    position: absolute;
    left: 5%;
    bottom: 140px;
}
.contentbox:hover {
    scale: 0.97;
    box-shadow: none;
}
@media (min-width: 768px) {
    .contentbox {
        margin-left: 100px;
    }
}
@media (max-width: 767px) {
    .contentbox {
        margin-left: 30px;
    }
}
.foot-box {
    height: 40px;
    width: 100%;
}